:root {
  --accent-color: #1ED760;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
}

header {
  background: linear-gradient(rgba(10,10,10,0.6), rgba(10,10,10,0.6)), url('./img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 350px;
  max-width: 100vh;
  flex: 2 0 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header > * {
  margin: 48px 0;
}

.header-logo {
  width: clamp(70px, 50%, 50%);
  margin-top: 40%;
  flex: none;
}

.header-credit {
  color: lavender;
  margin-top: auto;
  font-size: clamp(0.8rem, 4vh,1rem);
}

header a {
  color: var(--accent-color);
}

main {
  flex: 3 0 0;
}