/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

:root {
  --bg-color: hsl(0, 0%, 10%);
  --txt-color: hsl(240, 67%, 96%);
  --accent-color: #1ED760;
  --dark-accent-color: #00AD3D;

  --input-color-invalid: hsl(0, 100%, 50%);
  --input-color-valid: #1ED760;
  --input-color-neutral: hsl(0, 0%, 50%);
  --input-color-bg: hsl(240, 30%, 92%);
  --input-color-placeholder: hsl(0, 0%, 40%);

  --element-v-gap: 6vh;
  --button-radius: 8px;
  --low-contrast-txt: hsl(0, 0%, 58%); 

  --confirm-pwd-error-opacity: 1; /* controlled via js */
}

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-color: var(--bg-color, black);
  color: var(--txt-color, white);
}

header {
  background: linear-gradient(rgba(10,10,10,0.6), rgba(10,10,10,0.6)), url('./img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 350px;
  max-width: 100vh;
  width: 40vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header > * {
  margin: 48px 0;
}

.header-logo {
  width: clamp(70px, 50%, 50%);
  margin-top: 40%;
  flex: none;
}

.header-credit {
  color: lavender;
  margin-top: auto;
  font-size: clamp(0.7rem, 3vh, 0.9rem);
}

.login-hint{
  font-size: 0.9rem;
  color: var(--low-contrast-txt);
}

.dark-theme a {
  color: var(--accent-color);
}

.light-theme a {
  color: var(--dark-accent-color);
}

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  padding: 24px 112px 24px 56px;
}

main p {
  font-size: 1.1rem;
  margin: 12px 0;
  min-width: 460px;
}

form .title {
  color: white;
  font-size: 1.4rem;
  margin-top: 4vh;
  margin-bottom: 24px;
}

form label {
  display: block;
  margin-bottom: 6px;
}

.input-container {
  display: flex;
  gap: 48px
}

.form-column > div {
  margin-bottom: 12px;
  position: relative;
}

form button[type='submit'] {
  margin-top: var(--element-v-gap);
  margin-bottom: 12px;
  padding: 12px 24px;
  border-radius: var(--button-radius);
  font-weight: bold;
  font-size: 1.05rem;
  border: 1.5px solid black;
  background-color: var(--accent-color);
}

input {
  padding: 6px 12px;
  border: 1px solid var(--input-color-neutral);
  background-color: var(--input-color-bg);
  position: relative;
}

::placeholder{
  color: var(--input-color-placeholder);
}

/* form validation */
input.validate:invalid {
  border-color: var(--input-color-invalid);
  outline-color: var(--input-color-invalid);
}

input.validate:valid {
  border-color: var(--input-color-valid);
  outline-color: var(--input-color-valid);
}

input:optional + span::after {
  content: '(optional)';
  font-style: italic;
  font-size: 0.9em;
  color: var(--low-contrast-txt);
}

input.validate:invalid + span::after{
  content: '✘';
  color: var(--input-color-invalid);
}

input.validate:valid + span::after{
  content: '✔';
  color: var(--input-color-valid);
}

input + span::after{
  position: absolute;
  top: 0px;
  right: 0px;
}

input[type='password'] + span::before {
  position: absolute;
  left: 0;
  bottom: -24px;

  color: var(--low-contrast-txt);
  font-size: 0.9em;
  font-style: italic;
}

#pwd + span::before {
  content: 'Minimum 6 characters';

}

#confirm-pwd.validate:invalid + span::before {
  content: 'Password does not match';
  color: var(--input-color-invalid);
  opacity: var(--confirm-pwd-error-opacity);
}